<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="collapse navbar-collapse show" id="navbarText">
      <ul class="navbar-nav mr-auto resp">
        <li class="px-2 child">
            <mat-label class="font-primary">Remove Departments</mat-label>
            <mat-select (selectionChange) = "filterDept($event)" multiple class="background">
              <mat-option *ngFor="let dept of distinctDepts" [value]="dept.name">{{dept.name}}</mat-option>
            </mat-select>
        </li>
        <li class="px-2 child">
          <span class="nav-link btn" (click)="openMod()">Distinct Departments</span>
        </li>
        <li class="px-2 child">
          <div class="form-check p-0">
            <mat-checkbox (change)="filterExp($event.checked)"><span class="font-primary">Candidates with >2 years experience</span></mat-checkbox>
            <!-- <label class="form-check-label font-primary" for="defaultCheck1">
              Candidates with >2 years experience
            </label> -->
          </div>
        </li>
        <li class="px-2 child">
          <input class="form-control" type="search" list="names" (change)="filterByName($any($event.target))"
            (search)="clear()" placeholder="Search by Name">
          <datalist id="names">
            <option *ngFor="let name of distinctNames" value="{{name}}">
            <option value="ash">
          </datalist>
        </li>
        <li class="px-2 child title">
          EMPLOYEES
        </li>
      </ul>
    </div>
  </nav>
</header>

<section class="sec1 mt-5">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" (matSortChange)="sortData($event)">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef> Department </th>
      <td mat-cell *matCellDef="let element"> {{element.department}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="joining_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Joining Date </th>
      <td mat-cell *matCellDef="let element"> {{element.joining_date | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>

<ng-template #mod>
 <table>
   <thead>
     <tr>
       <th>Department</th>
       <th>Count</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor = "let dept of distinctDepts">
       <td>
         {{dept.name}}
       </td>
       <td>
        {{dept.enrolled}}
       </td>
     </tr>
   </tbody>
 </table>
</ng-template>