@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@200&display=swap');

$fontFamily: 'Alumni Sans', sans-serif;
$primaryColor: rgba(255, 255, 255, 0.55);
$background: url('./assets/cornered-stairs.svg')
